# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.emulator-data/

# Build
functions/lib/
functions/.runtimeconfig.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

